<template>
  <div>
    <div class="container about">
      <div class="mt-4 row">
        <div class="col-md-6">
          <h2 class="text-center text-about" style="margin-top:30px" >QUIENES SOMOS</h2>
        </div>
      </div>
      <!-- <div class="row" > -->
      <div class="row" v-for="({description},index) of about " :key="index">
        <div class="col-md-6 text-about">
            {{description}}
        </div>
        <div class="col-md-4 text-justify text-about">
          <p class="mt-2 text-justify ">
            <!-- {{description}} -->
          </p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
   <Footer/>
  </div>
</template>

<script>
import Footer from '@/components/Footer.vue'
export default {
  name: 'About',
  components:{
    Footer
  },
  data(){
    return{
      about:[]
    }
  },
  created(){
    this.listAbout()
  },
  methods:{
    listAbout(){
      this.axios.get('/about')
        .then((response)=>{
          this.about = response.data;
        })
        .catch(err=>{
          console.log(`An error ocurred ${err}`)
        })
    }
  }
}
</script>
<style scoped>
  .text-about{
    font-size:18px;
    color:white;
    /* font-weight:bold */
  }
</style>