<template>
  <!-- background -->
  <!-- style="background-image:url(https://wallpapercave.com/wp/wp10527222.jpg);width:100%;height:100%" -->
  <div>
    <div class="mt-4 container-fluid home">
      <div class="row">
        <div class="mt-4 col-md-6">
          <!-- Alert Bootstrap vue -->
          <b-alert
            :show="dismissCountDown"
            dismissible
            :variant="message.color"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged"
          >
          {{message.text}}
          </b-alert> 
          <div class="card">
            <div class="card-body">
               <h4 class="card-title text-center">Crear cuenta</h4>
               <hr>
               <form role="form" @submit.prevent="addUser()">
                  <div class="row">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="NOMBRE" v-model="user.name">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="NOMBRE USUARIO" v-model="user.userName">
                    </div>
                  </div>
                  <div class="mt-3 row">
                     <div class="col">
                       <input type="password" class="form-control" placeholder="CONTRASEÑA" v-model="user.password">
                      </div>
                      <div class="col">
                        <input type="email" class="form-control" placeholder="CORREO" v-model="user.email">
                      </div>
                  </div>
                  <div class="mt-3 row">
                    <div class="col">
                      <select class="form-control" v-model="user.role">
                       <option selected disabled>ESCOJA UN ROL</option>
                       <option v-for="rol of roles" :key="rol.id">{{rol}}</option>
                      </select>
                    </div>
                    <div class="col"></div>
                  </div>

                  <div class="mt-3 row" v-if="this.user.role === 'EMPRENDEDOR'">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="TITULO PROYECTO" v-model="user.project.title">
                    </div>
                  </div>
                  <div class="mt-3 row" v-if="this.user.role === 'EMPRENDEDOR'">
                    <div class="col">
                      <textarea cols="30" rows="5" class="form-control" placeholder="DESCRIPCIÓN DEL PROYECTO" v-model="user.project.description">
                      </textarea>
                    </div>
                  </div>
                  <button type="submit" class="mt-2 btn btn-info">Registrarse</button>
                </form>  <!-- END NEW FORM -->
            </div>
          </div>
        </div>
        <div class="mt-4 col-md-6">
          <p class="message-home">"Donde veas un negocio exitoso,alguien tomó alguna vez una decisión valiente"</p>
          <button class="btn btn-default button-home" @click="toInvestor">INVERSIONISTA</button>
          <button class="mx-2 btn btn-default button-home" @click="toEntrepreneur">EMPRENDEDOR</button>
        </div>
       </div>  <!--END ROW-->
    </div><br><br><br><br><br>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
/*NO DISPONIBLE EN LA VERSION 2 DE VUE
import { defineAsyncComponent } from 'vue'

*/
import Footer from '@/components/Footer.vue'
import router from '../router'


export default {
  name: 'Home',
  components: {
    Footer,
    HelloWorld
  },
  data(){
    return{
      // alert bootstrap-vue
      message: {color:'success',text:null},
      dismissSecs: 1,
      dismissCountDown: 0,

      projects:[],
      roles: ['INVERSIONISTA','EMPRENDEDOR'],
      users:[],
      investors:[],
      user:{
        name:'',
        email:'',
        password:'',
        userName:'',
        role:'',
        project:{
          title: 'title project',
          description: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam provident maiores
           itaque eaque architecto esse tempora magnam repellendus quaerat beatae quos assumenda
           adipisci aliquam numquam velit aut reprehenderit quo, nam minus iusto excepturi
           voluptatum dolore?`
        }
      }
    }
  },
  created(){
    this.listProjects();
  },
  methods:{
    // Redirect LOGIN INVERSIONISTA and LOGIN EMPRENDEDOR
    toInvestor(){
      this.$router.push({ name : 'Login' });
    },
    toEntrepreneur(){
      this.$router.push({ name: 'LoginEntre' });
      
    },
    addUser(){
      // REVISAR RUTAS AUTH RUTAS 
      if(this.user.role === 'EMPRENDEDOR'){
        
        this.axios.post('/entrepreneur',this.user)
         .then((res)=>{
           this.users.unshift(res.data.entrepreneur);
           this.showAlert();
           this.message.text = 'Usuario emprendedor creado'
           this.message.color='success'
           setTimeout(()=>{
             this.$router.push({name:'LoginEntre'})
           },1000)
         })
         .catch(err => {
           console.log(`Error ${err}`);
         })
      }else{
        this.axios.post('/investor',this.user)
         .then((response)=>{
           this.investors.unshift(response.data.investor);
           this.showAlert();
           this.message.text = `Usuario inversionista creado`
           this.message.color='success'
           setTimeout(()=>{
             this.$router.push({name:'Login'})
           },1000)
         })
         .catch(err => {
           console.log(err.response);
         })
      }
    },
    listProjects(){
      this.axios.get('/projects')
        .then((response)=>{
          this.projects = response.data;
        })
        .catch(err => {
         console.log(`Error ${err}`);
       })
    },
    // Methods alerts
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    },
  }
}
</script>
<style scoped>
 .message-home{
   font-size:24px;
   color:white
 }
 .button-home{
   color:white;
   border: 1px solid blue;
 }
 :hover.button-home{
   color:white;
   background-color:gray;
 }
</style>
