<template>
  <div>
    <div class="container login-entrepreneur">
       <div class="row">
         <div class="col-md-4"></div>
         <div class="mt-4 col-md-4">
           <div class="card">
              <div class="card-body" >
                <h5 class="card-title text-center">Login Emprendedor</h5>
                <!-- LOGIN ENTREPRENEUR -->
                <form class="form-role" @submit.prevent='entrepreneurLogin()'>
                  <div class="form-group">
                     <input type="email" placeholder="CORREO" class="form-control" v-model="userEntrepreneur.email"> 
                  </div>
                  <div class="form-group">
                     <input type="password" placeholder="CONTRASEÑA" class="form-control" v-model="userEntrepreneur.password"> 
                  </div>
                  <button class="btn btn-info btn btn-block" type="submit">Iniciar sesión</button>
                </form>  
                 <!-- </LOGIN ENTREPRENEUR> -->
              </div>
              <div class="card-footer">
               <p class='text-center' v-if="message!=''" style="color:red">{{message}}</p>
              </div> 
           </div>
         </div>
         <div class="col-md-4"></div>
        </div> 
    </div>
    <Footer/>
  </div>
</template>

<script>
import Footer from '@/components/Footer.vue'
import { mapActions } from 'vuex'
// Personalizado
import {getInvestorByID} from '../App.vue'
import {mapState} from 'vuex'
export default {
  name: 'Login',
  components:{
    Footer 
  },
  data(){
    return{
      userEntrepreneur: {email:'',password:''},
      message:'',
    }
  },
  methods:{
    ...mapActions(['saveUser']),
    entrepreneurLogin(){
     this.axios.post('/login-entrepreneur',this.userEntrepreneur)
      .then((res)=>{
         const token = res.data.token;
         this.saveUser(token);
       })
      .catch(err=>{
        console.log(err);
        // this.message = err.response.data.msg;
      })  
    },
  },
}
</script>

<style>

</style>