<template>
  <div>
   <div class="container mision">
     <div class="mt-4 row">
       <div class="col-md-12">
         <h2 class="mt-4 text-center title-mision">MISIÓN</h2>
       </div>
     </div>
     <div class="row" v-for="({description},index) of mision" :key="index">
       <div class="col-md-3"></div>
       <div class="col-md-6">
         <p class="mt-4 text-justify paragraph-mision">{{description}}</p>
       </div>
       <div class="col-md-3"></div>
     </div>
   </div>
   <Footer/>
  </div>
</template>

<script>
import Footer from '@/components/Footer.vue'
export default {
  name:'Mision',
  components:{
    Footer
  },
  data(){
    return{
      mision:[]
    }
  },
  created(){
    this.listMision();
  },
  methods:{
    listMision(){
      this.axios.get('/mision')
       .then((response)=>{
         this.mision = response.data;
        //  console.log(this.mision);
       })
       .catch(err=>{
         console.log(`Error ${err}`)
       })
    }
  }
}
</script>

<style scoped>
 .title-mision{
   color:white;
   font-size: 24px;
 }
 .paragraph-mision{
   color:white
 }
</style>>
