<template>
 <div>
   <div class="container project-entrepreneur">
     <div class="mt-4 row">
       <div class="col-md-3 mx-2 ">
       <!-- <div class="col-md-3 mx-2"> -->
         <!-- cards  -->
         <div class="my-2 card" style="width:24rem;">
           <img src="https://res.cloudinary.com/dqhme1rod/image/upload/v1620608157/mwiknqsayji2rpqxnjph.png" class='card-img-top' alt="">
           <div class="card-body">
             <h5 class="cart-title text-center title-project">{{project.title}}</h5>
             <p class="card-text">{{project.description}}</p>
             <p class="cart-text"><strong>Emprendedor:{{nameEnt}}</strong></p>
             <p class="cart-text"><strong>Telefono:</strong>{{phoneEnt}}</p>
             <p class="cart-text"><strong>Correo:</strong>{{emailEnt}}</p> 
           </div>
         </div>
       </div>
     </div>
   </div><br><br><br><br><br>
   <Footer/>
 </div>
</template>

<script>
// LOs mapState se mapean en las computed con el spread operator
// Las mutaciones se llaman en los methods
// las actions Ejecutan las mutaciones va en los methods
import {mapState,mapMutations,mapActions} from 'vuex'
import Footer from '@/components/Footer.vue'
export default {
 name: 'ProjectEnt',
 components:{
   Footer 
 },
 data(){
   return{
     nameEnt:'',
     phoneEnt:'',
     emailEnt:'',
     project:{}
   }
 },
 computed:{
   ...mapState(['userDB'])
 },
 created(){
   this.listProjectEnt();
 },
 methods:{
   listProjectEnt(){
     this.axios.get(`/entrepreneur/${this.userDB.uid}`)
      .then((res)=>{
        this.nameEnt = res.data.name; 
        this.phoneEnt = res.data.phone; 
        this.emailEnt = res.data.email;
        this.project = res.data.project;
        // console.log(this.project); 
      })
      .catch(err=>{
        console.log(`An error ocurred ${err}`)
      })
   },
 }
}
</script>

<style scoped>
 .title-project{
   font-weight:bold;
 }
</style