<template>
 <div>
   <div class="container project">
     <!-- <div class="mt-4 row" v-for="({title,description},index) of userProjects" :key="index"> -->
     <div class="mt-4 row">
       <div class="col-md-3 mx-2 " v-for="({project,name,phone,email},index) of investorProjects" :key="index">
         <!-- <h1>{{title}}</h1> -->
         <!-- cards  -->
         <div class="my-2 card" style="width:18rem;">
           <img src="https://res.cloudinary.com/dqhme1rod/image/upload/v1620608157/mwiknqsayji2rpqxnjph.png" class='card-img-top' alt="">
           <div class="card-body">
             <h5 class="cart-title text-center"><strong>{{project.title}}</strong></h5>
             <p class="card-text">{{project.description}}</p>
             <p class="cart-text"><strong>Emprendedor:{{name}}</strong></p>
             <p class="cart-text"><strong>Telefono:</strong>{{phone}}</p>
             <p class="cart-text"><strong>Correo:</strong>{{email}}</p>

           </div>
         </div>
       </div>
     </div>
   </div><br><br><br><br><br>
   <Footer/>
 </div>
</template>

<script>
// LOs mapState se mapean en las computed con el spread operator
// Las mutaciones se llaman en los methods
// las actions Ejecutan las mutaciones va en los methods
// import {mapState} from 'vuex'
import {mapState,mapMutations,mapActions} from 'vuex'
import Footer from '@/components/Footer.vue'
export default {
 name: 'Project',
 components:{
   Footer 
 },
 data(){
   return{
     investorProjects:[]
   }
 },
 computed:{
   ...mapState(['token'])
 },
//   note if user is empty generate error
 methods:{
   ...mapActions(['saveUser',/* 'readToken' */]),
   listInveProjects(){
    let config = {
      headers:{
        'x-token':this.token
      }
    };
    this.axios.get('/entrepreneurs',config)
    //  this.axios.get('/projects',config)
      .then((response) => {
        this.investorProjects = response.data;
      })
      .catch(err=>{
        console.log(`An error ocurred ${err}`)
      })
   },
 },
  created(){
   this.listInveProjects();
  //  this.readToken();
 },
}
</script>

<style scoped>
 .title-project{
   font-weight:bold;
 }
</style