<template>
  <div>
   <div class="container mision">
     <div class="mt-4 row">
       <div class="col-md-12">
         <h2 class="mt-4 text-center title-vision">VISIÓN</h2>
       </div>
     </div>
     <div class="row" v-for="({description},index) of vision" :key="index">
       <div class="col-md-3"></div>
       <div class="col-md-6">
         <p class="mt-4 text-justify paragraph-vision">{{description}}</p>
       </div>
       <div class="col-md-3"></div>
     </div>
   </div>
   <Footer/>
  </div>
</template>

<script>
import Footer from '@/components/Footer.vue'
export default {
  name:'Vision',
  components:{
    Footer
  },
  data(){
    return{
      vision:[]
    }
  },
  created(){
    this.listVision();
  },
  methods:{
    listVision(){
      this.axios.get('/vision')
       .then((response)=>{
         this.vision = response.data;
       })
       .catch(err=>{
         console.log(`Error ${err}`)
       })
    }
  }
}
</script>

<style scoped>
 .title-vision{
   color:white;
   font-size: 24px;
 }
 .paragraph-vision{
   color:white
 }
</style>>
