<template>
   <div >
     <div class="footer">
     </div>
     <footer id="footer" class='title-footer'><span class="footer-title">&#169;SYG 2022</span></footer>
  </div>  
</template>

<script> 
 export default {
   name:'Footer' 
 }
</script>

<style scoped>
 #footer{
    /* background: #164e63; */
    /* background: #00a5a5; original */
    background: white;
    /* color: white; original */
    color: black;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    font-size:24px;
  }
  .title-footer{
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
   
  }
  .footer-title{
    color: black;
  }
</style>