<template>
  <div id="app">
    <!-- <b-navbar toggleable="lg" type="dark" variant="blue" style="background-color:rgb(2, 46, 90);"> -->
    <!-- background-color:#00a5a5; -->
    <b-navbar toggleable="lg" 
       type="dark" 
       variant="blue" 
       style="background-color:white;"
    >
      <b-navbar-brand href="#" class="title-company">
        <!-- <img src="https://res.cloudinary.com/dqhme1rod/image/upload/v1639605134/atse/dsqsvzxeaf5lxna62qjh.png" alt="share" class="img-fluid imgTitle" /> -->
        <img src="./assets/logo.jpeg" alt="share" class="img-fluid imgTitle" />
        <span style="color:black" class="text-menu"><span class="title-project">SYG</span> Muestrate y crece</span>
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" class='navBarStyle' is-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <!-- <b-nav-item :to="{name:'Login'}"><span style="color:black" class="text-menu" v-if="!isActive">LOGIN</span></b-nav-item> -->
          <b-nav-item :to="{name:'Home'}"><span style="color:black" class="text-menu" v-if="!isActive">INICIO</span></b-nav-item>
          <b-nav-item :to="{name:'About'}"><span style="color:black" class="text-menu">QUIENES SOMOS</span></b-nav-item>
          <b-nav-item :to="{name:'Mision'}"><span style="color:black" class="text-menu">MISIÓN</span></b-nav-item>
          <b-nav-item :to="{name:'Vision'}"><span style="color:black" class="text-menu">VISIÓN</span></b-nav-item>
          <!-- <b-nav-item :to="{name:'ProjectInv'}" v-if="$store.state.userDB.role ==='INVERSIONISTA'"><span style="color:black" class="text-menu">PROYECTOS</span></b-nav-item> -->
          <b-nav-item :to="{name:'ProjectInv'}" v-if="isInvestor"><span style="color:black" class="text-menu">PROYECTOS</span></b-nav-item>
        </b-navbar-nav>

        <!-- USER LOGIN -->
        <!-- Right aligned nav items -->
      <b-navbar-nav >
        <b-nav-item-dropdown right v-if="isActive" >
          <template #button-content>
            <!-- <em class="ml-auto text-menu" style="color:black; font-size:18px">{{$store.state.userDB.name}}</em> -->
            <em class="ml-auto text-menu" style="color:black; font-size:18px">{{nameUserAuth}}</em>
          </template>
          <b-dropdown-item href="#" class="ml-auto text-menu" style="color:black" :to="{name:'Profile'}" @click="profileUserEx()" v-if="isInvestor">Perfil</b-dropdown-item>
          <b-dropdown-item href="#" class="ml-auto text-menu" style="color:black" v-on:click="logout" v-if="isActive">Cerrar Sesión</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
        <!-- USER LOGIN -->
      </b-collapse>
    </b-navbar>
    <router-view/>
  </div>
</template>
<script>
import {mapState,mapActions,mapMutations, mapGetters} from 'vuex'
 export default {
   name: 'App',
   components:{},
   data(){
    return{
     
    }
   },
   methods:{
     ...mapActions(['logout','readToken','saveNameUser']),
     profileUserEx(){
      this.$router.push({name:'Profile'}).catch(error=>{
        if(error.name!='NavigationDuplicated'){
          throw error;
        }
      });
     },
   },
   computed:{
     ...mapGetters(['isActive']),
     ...mapState(['userDB']),
     // SAVE NAME USER AUTHENTICATED
     nameUserAuth(){
       return this.$store.state.userDB.name;
     },
     // ROLE INVESTOR
     isInvestor(){
       return this.$store.state.userDB && this.$store.state.userDB.role === 'INVERSIONISTA';
     }
     // ROLE ENTREPRENEUR
   },
   created(){
     this.readToken();
   }
 }
</script>
<style scoped>
 .imgTitle{
    width: 60px;
    height: 60px;
  }
  .navBarStyle{
   font-family: 'Anton', sans-serif;
  }
  .colorItem{
    color:white; 
  }
  span{
    font-size:20px;
  }
  .title-company{
    font-family: 'Anton', sans-serif;
    font-size:24px;
  }
  .text-menu{
    font-family: 'Roboto Slab', serif;
  }
  .title-project{
    font-size: 35px;
  }
  .navbar-toggler{
    background-color:#42b983;
  }
</style>
